.alert p {
  margin-bottom: 0 !important;
}

body {
  background: rgba(212,228,239,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(89,222,186,1) 78%, rgba(89,222,186,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(78%, rgba(89,222,186,1)), color-stop(100%, rgba(89,222,186,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(89,222,186,1) 78%, rgba(89,222,186,1) 100%);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  margin-bottom: 10px;
}

.img-fluid{
  margin: auto;
  width: 25%;
}

.container {
  padding: 5%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 60%;
}

.content {
  padding: 20px;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.64);
  padding: 15px;
  border-radius: 20px;
  margin-top:30px;
  width: auto;
}

input {
  height: 40px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  color: rgb(10, 110, 128);
  text-align: center;
  font-size: 4rem !important;
  margin-top: 15px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: rgb(58, 158, 175);
  margin-bottom: 20px;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: rgb(58, 158, 175);
  margin-bottom: 2%;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 5%;
  text-align: center;
}

.camp {
  margin-bottom: 1rem;
  font-weight: bold;
}

.content-t{
  padding: 5rem! important;
}

.error {
  text-align: center;
}

label{
  color:rgb(10, 110, 128);
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #004085;
  background-color: #b4d4f5;
  border-color: #b8daff;
}

.alert-success {
  color: #155724;
  background-color: #abe9ba;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f1c9cd;
  border-color: #f5c6cb;
}

.alert-danger-d {
  color: #580b12;
  background-color: #ff596a;
  border-color: #992430;
}

.alert-warning {
  color: #856404;
  background-color: #fffdc6;
  border-color: #ffeeba;
}

.expenses-incurred {
  margin-bottom: 2rem;
}

.expenses-incurred li {
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem 0;
}

.expenses-incurred li:last-of-type {
  margin-bottom: 0 !important;
}

.expenses-incurred li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.expenses-incurred li p .expend-l {
  font-weight: bold;
}

.expenses-incurred li p .expends {
  background-color: #3dcf4c;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
}

.btn-close {
  float: left;
  padding: 10px;
  font-size: 12px;
  color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}